*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    animation: bodyshake linear 6s infinite;

}
.Sky{
    height: 110vh;
    width: 2500vw;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    position: absolute;
    /* overflow: hidden; */
    animation: Skymove linear 5s infinite;

}
.trees{
    height: 100vh;
    width: 2780vw;
    background-image: url(trees.png);
    background-repeat: repeat-x;
    position: absolute;
    bottom: 22vh;
    /* overflow: hidden; */
    animation: treesmove linear 27s infinite;

}
.track{
    height: 60vh;
    width: 2800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 60vh;
    /* overflow: hidden; */
    animation: trackmove linear 2s infinite;

    }
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 20vw;
    bottom: 197px;
    animation: shake linear 57s infinite;

}
.wheel1 img{
    width: 68px;
    position: relative;
    top: 41px;
    left: 47px;
    animation: wheelRotation linear .1s infinite;
}
.wheel2 img{
    width: 77px;
    position: relative;
    top: -32px;
    left: 234px;
    animation: wheelRotation linear .1s infinite;

}
@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

/* @keyframes Skymove {
    100%{
        transform: translatex(-500vw);
    }
} */

@keyframes trackmove {
    100%{
        transform: translatex(-500vw);
    }
}

@keyframes treesmove {
    100%{
        transform: translatex(-500vw);
    }
}


@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes bodyshake {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}